table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #0E182C;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
}

.login-container {
    display: flex; /* Use flexbox for layout */
}

.login-picture {
    flex: 3; /* Take up 3/4 of the available space */
}

.login-form {
    flex: 1; /* Take up 1/4 of the available space */
    padding: 20px; /* Add some padding for better aesthetics */
}