
{% extends 'base.html' %}

{% block content %}
    <h2>Document List</h2>
    {% if documents %}
        <table>
        <thead>
            <tr>
                <th>Upload Date</th>
                <th>Document Type</th>
                <th>ISD</th>
                <th>Word Count</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{ document.upload_date }}</time></td>
                <td>{{ document.document_type }}</td>
                <td>{{ document.isd }}</td>
                <td>{{ document.word_count }}</td>
                <td>
                    <button class="download-btn" data-document-id="{{ document.id }}">Download</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

        <script>
        document.querySelectorAll('.download-btn').forEach(function(button) {
            button.addEventListener('click', function() {
            var documentId = button.getAttribute('data-document-id');
            window.location.href = '{% url "download_document" document_id=0 %}'.replace('0', documentId);
            });
        });
        </script>
    {% else %}
        <p>No documents uploaded.</p>
    {% endif %}
{% endblock %}
