<!-- templates/yourapp/document_list.html -->

{% extends 'base.html' %}



{% block content %}
    <h2>Document List</h2>
    {% if documents %}
        <table>
        <thead>
            <tr>
            <th>Title</th>
            <th>Document Type</th>
            <th>ISD</th>
            <th>Word Count</th>
            <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{ document.title }}</td>
                <td>{{ document.document_type }}</td>
                <td>{{ document.isd }}</td>
                <td>{{ document.word_count }}</td>
                <!-- Add a button to trigger the download -->
                <td>
                <button class="download-btn" data-document-id="{{ document.id }}">Download</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

        <script>
        // Add a script to handle download button clicks
        document.querySelectorAll('.download-btn').forEach(function(button) {
            button.addEventListener('click', function() {
            var documentId = button.getAttribute('data-document-id');

            // Redirect to the download URL for the specific document
            window.location.href = '{% url "download_document" document_id=0 %}'.replace('0', documentId);
            });
        });
        </script>
    {% else %}
        <p>No documents uploaded.</p>
    {% endif %}
{% endblock %}
