{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'home-login.css' %}">
    </head>

    <style>
        html{
            background-image: url("{% static 'earth.jpg' %}");
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
    </style>
    
    <body>
        <div class="home-button">
            <form action="post">
                <a href="login" style="color: white;">Login</a>
            </form>
        </div>
    </body>
</html>