{% load static %}  
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Home</title>
      <link rel="stylesheet" href="{% static 'home-login.css' %}">
  </head>

  <style>
    html{
        background-image: url("{% static 'earth.jpg' %}");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
  </style>

  <body>
    <div class="login-container">
      <div class="login-form">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" style="background-color: #142C50;
            color: white;
            border-radius: 10px;
            border-color: #DDE3FD;
            padding: 10px;
            font-size: medium;
            font-weight: bold;
            position: relative;
            left: 40%;">Login
          </button>
        </form>
      </div>
    </div>
  </body>
</html>